.devcontainer/**
.eslint.json
.gitattributes
.github/**
.gitignore
.vscode-test/**
.vscode-test-web/**
.vscode/**
**/*.map
**/*.ts
**/*.zip
node_modules/**
out/**
out/test/**
package-lock.json
res/*.svg
src/**
tsconfig.json
webpack.config.js
